target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Local Storage & Databases ###
storage/encrypted/*
!storage/encrypted/.gitkeep
storage/h2db*
*.log
*.tmp
.env

### OS Files ###
Thumbs.db
Desktop.ini
.DS_Store
